<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping_webhook>
            <general>
                <enabled>0</enabled>
                <webhook_url></webhook_url>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"></secret_key>
            </general>
        </shipping_webhook>
    </default>
</config> 